PORT=5000
MONGO_URI=mongodb://localhost:27017/Kodemates
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
MAIL_USER=adarshtiwariq2323@gmail.com
MAIL_PASS=jlucdvpcmoekitvc
FROM_NAME=kodemates Educations
FROM_EMAIL=adarshtiwariq2323@gmail.com
//JWT_SECRET should be a long, random string in production for better security
JWT_SECRET=mysupersecretkey
folder_name="Kodemates"
// CLOUDINARY_CLOUD_NAME, CLOUDINARY_API_KEY, and CLOUDINARY_API_SECRET are used for configuring Cloudinary, a cloud-based image and video management service. These credentials allow the application to upload and manage media files securely.
CLOUDINARY_CLOUD_NAME=djrm1rzhc
CLOUDINARY_API_KEY=639515126972998
CLOUDINARY_API_SECRET=5uKKcxtoKOhoo2aaUxOa6VwXzqQ
RAZORPAY_KEY_ID=rzp_test_GCr46JGQ2wxtTV
RAZORPAY_KEY_SECRET=VDXAtOEqWA83UCTBnGCyCWGY
RAZORPAY_WEBHOOK_SECRET="123456"


NODE_ENV=production
FRONTEND_URL=https://kodemates-frontend.vercel.app
CLIENT_URL=https://kodemates-frontend.vercel.app